
@{
    ViewBag.Title = "Error404";
    Layout = "~/Views/Shared/_Layout02.cshtml";
}
<style>
    .range {
        height: 296px;
    }

        .range img {
            margin-left: calc((100vw - 1050px) / 2);
            height:300px;
        }

    .go_to_home {
        border: 1px solid #ff6a00;
        margin-bottom:10px;
        margin-left:10px;
        padding:10px;
        border-radius:10px;
    }
</style>
<div class="range">
<a class="go_to_home" href="#"><i class="fa-solid fa-circle-left"></i> Trở về trang chủ</a>


    <img src="~/Public/images/404.png"  />
</div>    



