
a.title {
    height: 50px;
    text-align: center;
}

.info-wrap a.title {
    text-align: center;
    height: auto;
}

.price {
    text-align: center;
}

.menu-category .has-submenu > a:after {
    content: "";
    display: none;
}
