@model Shop.Context.Order_2119110245
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin đơn hàng</h2>
@*@foreach (var item in Model)
{
    <h1>Tên đơn hàng: @item.</h1>
}*@

